/* Common nav styles */
.navigation-wrapper {
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

/* Left column styles */
.navigation-wrapper > .left-column > .logo  {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .left-column > .logo img {
    width: 190px;
    height: 100%;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 70px;
    padding-right: 350px;
}

.navigation-wrapper > .center-column > .center-column-text {
    color: #e7c55f;
    font-size: 0.5em;
}

.navigation-wrapper > .center-column > .center-column-text h1 {
    margin: 2px;
}

.links-wrapper {
    width: 455px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
}

.nav-links {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-links > .nav-link {
    width: 80px;
    text-align: center;
}

.nav-links > .nav-link a {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    letter-spacing: -0.5px;
}

.spark-btn {
    background-color: black;
    color: #cbcbcb;
    font-size: 1.1em;
    outline: none;
    border: none;
}

.spark-btn:active {
    transform: translateY(0.2rem);
}

.spark-btn i {
    font-size: 0.7em;
    margin-left: 7px;
}

/* Right column styles */
.navigation-wrapper > .right-column {
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -10px;
}

.nav-btn {
    background-color: #444857;
    color: white;
    font-size: 1.2em;
    font-weight: 550;
    padding: 15px 20px;
    border: 1px solid #444857;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #9fa1a6;
    color: white;
}

.nav-btn:active {
    transform: translateY(0.2rem);
}

.nav-btn i {
    color: #4ac877;
    margin-left: 2px;
}
.nav-btn-search {
    background-color: black;
    padding: 15px 10px;
    border: none;
    outline: none;
    transition: 0.3s;
}

.nav-btn-search:active {
    transform: translateY(0.2rem);
}

.nav-btn-search i {
    color: #7b7e8b;
    font-size: 2.3em;
}




